[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
python-docx = "*"
pyparsing = "*"
prettytable = "*"
pypdf2 = "*"
pymupdf = "*"
pypdf4 = "*"
pdfplumber = "*"
docx2pdf = "*"
comtypes = "*"
pymorphy2 = "*"
nltk = "*"
pandas = "*"
compoundfiles = "*"
"pdfminer.six" = "*"

[dev-packages]

[requires]
python_version = "3.8"
